.oval_bg {
  position: relative;
}

.oval_bg::before {
  content: url("/images/oval.png");
  position: absolute;
  top: 17rem;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .oval_bg::before {
    display: none;
  }
}
