.techie h2 {
  margin: 0 0 60px;
}

.tab_sec {
  column-gap: 40px;

  align-items: flex-start;
  cursor: pointer;
}

.tab_logo {
  font-size: 48px;
  margin-right: 20px;
}

.tab_title {
  font-weight: 700;
  font-size: 22px;
}

.tabName {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  color: #0b4e82;
}

.tabList {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 10px;
}

.tab {
  padding: 24px 48px;
  justify-content: flex-start;
  border-radius: 24px;
  font-family: "CenturyGothic-Regular" !important;
  font-size: 22px;
  font-weight: 400;
  color: #585755;
  transition: all 0.2s ease-in-out;
}

.tabList li::before {
  margin-right: 32px;
  font-size: 48px;
  font-family: "icomoon";
}

.active {
  background: linear-gradient(119.34deg, #0b4e82 -16.42%, #7fbef9 128.77%);
  box-shadow: 0px 14px 50px rgba(18, 64, 145, 0.38);
  border-radius: 24px;
  color: #fff;
}

.content {
  width: 70%;
  padding: 40px;
  background-color: #f0f4fa;
  border-radius: 24px;
}

.info {
  height: 400px;
  padding-right: 32px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #0b4e82;
}

.info::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;
}

.info::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 6px;
}

.info::-webkit-scrollbar-thumb {
  background-color: #0b4e82;
  border-radius: 0.2rem;
}

@media only screen and (max-width: 1200px) {
  .main_section {
    flex-direction: column;
  }
  .tab_desc {
    width: 100%;
  }
  .left_tech_content {
    flex-direction: row;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
  }

  .tab_name_sec {
    margin-right: 0;
    width: 100%;
  }

  .highlight {
    margin: 32px 0 16px;
  }
}

@media only screen and (max-width: 1440px) {
  .tab {
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 1024px) {
  .tab_sec {
    flex-direction: column;
    align-items: center;
  }

  .tabList {
    flex-direction: row;
    width: 100%;
    overflow: auto;
    margin-bottom: 50px;
    column-gap: 11px;
  }
  .active {
    box-shadow: none;
  }
  .tab {
    padding: 20px;
    font-size: 18px;
  }
  .tabList li::before {
    margin-right: 14px;
    font-size: 38px;
  }
  .content {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 16px;
  }
  .tabName {
    font-size: 20px;
  }
  .tab {
    padding: 13px;
    border-radius: 15px;
  }
  .tabList {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    padding: 5px 0;
    display: flex;
  }

  .active {
    /* max-width: 198px;
    white-space: break-spaces;
    order: 0 !important; */
    font-size: 12px;
    scroll-margin-left: 50;
  }
}
