.vacancy {
  background: linear-gradient(180deg, #e5efff 0%, rgba(244, 250, 255, 0) 100%);
}

.tabList {
  margin-bottom: 64px;
  column-gap: 80px;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.tabList li {
  position: relative;
}

.tabList li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: -4px;
  transform: scaleX(0);
  background: #ffa01b;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.tabList li.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.tabList li.active {
  font-weight: 700;
}

.vacancy h2 {
  margin: 0 0 24px;
}

.jobPost {
  padding: 64px;
  background: #fff;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  border-radius: 20px;
  row-gap: 64px;
}

.jobList {
  width: 100%;
  justify-content: flex-start;
  column-gap: 48px;
  row-gap: 32px;
}

.noJobs {
  margin: 0 auto;
}

.jobs {
  width: 47%;
  padding: 20px 32px;
  border: 1px solid #e5eaf4;
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
  background: #fff;
}

.jobs h3 {
  font-size: 24px;
  font-weight: 700;
}

.jobs p {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
}

.arrow {
  font-size: 24px;
  font-weight: 900;
  color: #0b4e82;
}

@media only screen and (max-width: 1200px) {
  .jobList {
    column-gap: 32px;
  }
}

@media only screen and (max-width: 992px) {
  .tabList {
    margin-bottom: 50px;
    column-gap: 32px;
    font-size: 20px;
  }

  .jobs {
    width: 100%;
  }

  .jobPost {
    padding: 50px;
  }

  .jobPost.sec_heading {
    text-align: left;
  }

  .jobPost h2 {
    font-size: 32px;
  }

  .jobs h3 {
    font-size: 18px;
  }

  .jobs p {
    font-size: 14px;
  }

  .arrow {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .tabList {
    margin-bottom: 43px;
    column-gap: 32px;
    font-size: 16px;
  }

  .jobPost {
    padding: 40px;
  }

  .jobPost h2 {
    font-size: 28px;
  }

  .jobs h3 {
    font-size: 16px;
  }

  .jobs p {
    font-size: 12px;
  }

  .arrow {
    font-size: 16px;
  }
}

@media only screen and (max-width: 570px) {
  .tabList {
    column-gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 50px;
    justify-content: unset;
  }

}
